name: deploy
on: push

permissions:
  contents: write

jobs:
  npm-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: get actions/checkout
        uses: actions/checkout@v4

      - name: install, build and deploy
        run: |
          npm install
          npm run deploy
